* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 24px;
  line-height: 1.5;
}

.container {
  width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.form-title {
  font-family: "Arial", sans-serif;
  font-weight: 600;
}

.main-select {
  width: 150px;
  padding-left: 10px;
  margin-bottom: 50px;
}

.js-main-warapper {
  display: flex;
  flex-direction: column;
}

.h5 {
  font-weight: bold;
}

.test-buttun {
  background: #EB5569;
  border-radius: 2px;
  text-decoration: none;
  padding: 8px 15px;
  color: white;
  border: none;
}

.checkbox {
  margin-left: 10px;
}

.js-main-warapper {
  margin-bottom: 20px;
}
.js-main-warapper {
  margin-right: 50px;
}

